@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --midnight: #06000f;
  --electric: #00d2ff;
}

body {
  background-color: #06000f;
  color: white;
  margin: 0;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
